<app-nav-bar></app-nav-bar>
<div>
  <section class="container">
    <div class="content__container">
      <h1>
        Best system<br />
        <span class="heading__1"> Zuri Management System</span><br />
        <span class="heading__2">in The Zuri</span>
      </h1>
      <p>
        Welcome to Zuri Management System, where innovation intersects with
        precision in the sphere of project management. We recognize the evolving
        complexities and demands of managing projects in the contemporary
        business landscape. Our commitment lies in offering state-of-the-art
        project management tools and strategies designed to optimize your
        project execution.
      </p>

      <form>
        <input type="text" placeholder="What do you want to know" />
      </form>
    </div>
    <div class="image__container">
      <img src="../../../assets/header-1.jpg" alt="header1" />
      <img src="../../../assets/header-2.jpg" alt="header2" />

      <div class="image__content">
        <ul>
          <li>Lets track our progress</li>
          <li>Meet our team</li>
        </ul>
      </div>
    </div>
  </section>
</div>
